<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.yao.common.dao.SecretKeyMapper">

    <resultMap id="BaseResultMapper" type="com.y3tu.yao.common.model.entity.SecretKey">
        <id column="id" property="id"/>
        <result column="secret_key" property="secretKey"/>
        <result column="server_name" property="serverName"/>
    </resultMap>


    <select id="selectByServerName" resultMap="BaseResultMapper">
        SELECT
          id,
          `secret_key`,
          `server_name`
        FROM
          sys_secret_key
    </select>


</mapper>
