<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.yao.upms.mapper.RoleActionEntryMapper">

    <resultMap id="baseResultMap" type="com.y3tu.yao.upms.model.entity.RoleActionEntry">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="action_entry_id" property="actionEntryId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        role_id,
        action_entry_id
    </sql>

    <insert id="batchInsert">
        INSERT INTO sys_role_action_entry
        (role_id,action_entry_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.actionEntryId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_action_entry where role_id = #{roleId}
    </delete>

    <select id="selectByRoleId" resultMap="baseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          sys_role_action_entry
        WHERE
          role_id = #{roleId}
    </select>

    <select id="selectByActionId" resultMap="baseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          sys_role_action_entry
        WHERE
          action_entry_id = #{actionId}
    </select>

</mapper>
