<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.yao.upms.mapper.ActionEntryMapper">

    <resultMap id="actionEntryVoMap" type="com.y3tu.yao.feign.vo.ActionEntryVO">
        <id column="id" property="id"/>
        <result column="action" property="action"/>
        <result column="describe" property="describe"/>
    </resultMap>

    <resultMap id="actionEntryQueryVOMap" type="com.y3tu.yao.upms.model.vo.ActionEntryQueryVO">
        <id column="id" property="id"/>
        <result column="action" property="action"/>
        <result column="describe" property="describe"/>
        <result column="menu_name" property="menuName"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_at,
        updated_at,
        deleted_at,
        `action`,
        `describe`,
        menu_id
    </sql>

    <insert id="batchInsert">
        INSERT INTO sys_action_entry
        (menu_id,`action`,`describe`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.menuId}, #{item.action},#{item.describe})
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.y3tu.yao.upms.model.query.action.ActionEntryAddQuery">
        INSERT INTO sys_action_entry
          (menu_id,`action`,`describe`)
        VALUES
          (#{menuId},#{action},#{describe})
    </insert>

    <update id="update">
        update sys_action_entry
        <set>
            <if test="menuId != null and menuId!=''">
                `menu_id` = #{menuId},
            </if>
            <if test="action != null and action!= ''">
                `action` = #{action},
            </if>
            <if test="describe != null and describe!=''">
                `describe` = #{describe}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByMenuId">
      DELETE FROM sys_action_entry where menu_id = #{menuId}
    </delete>

    <delete id="deleteById">
         DELETE FROM sys_action_entry where id = #{id}
    </delete>


    <select id="selectByMenuIds" resultMap="actionEntryVoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_action_entry
        WHERE
        menu_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectAll" resultMap="actionEntryVoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_action_entry
    </select>

    <select id="selectByCondition" resultMap="actionEntryQueryVOMap">
        SELECT
        sae.id,
        sae.`describe`,
        sae.`action`,
        sae.created_at,
        sm.`name` as menu_name
        FROM
        sys_action_entry sae
        LEFT JOIN
        sys_menu sm
        ON
        sae.menu_id = sm.id
        WHERE
        1=1
        <if test="describe != null and describe != ''">
            AND `describe` like "%"#{describe}"%"
        </if>
        <if test="action != null and action != ''">
            AND `action` like "%"#{action}"%"
        </if>
        <if test="menuName != null and menuName != ''">
            AND `menuName` like "%"#{menuName}"%"
        </if>
        ORDER BY sae.menu_id,sae.created_at
    </select>

</mapper>
