.login{
    height: 100%;
    background-image: url('../../assets/background.svg');
    background-size: cover;

    .header {
        margin-top: 10vh;
        margin-bottom: 6vh;
        text-align: center;

        .description {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.45);
            margin-top: 1vh;
        }
    }

    .login-code {
        height: 40px - 2px;
        display: block;
        margin: 0px -20px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}